vti_encoding:SR|utf8-nl
vti_restartmanual:IX|0
vti_textextensions:SW|.txt.
vti_webservertype:SR|diskweb
vti_defaultlanguage:SR|en-us
vti_timecreated:TR|26 Jul 2006 01:11:21 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_htmlextensions:SW|.alx.asp.aspx.dwt.hta.htc.htm.html.htt.htx.jsp.master.php.php2.php3.php4.php5.phtml.shtml.stm.asa.asax.
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_navbuttonnextlabel:SR|Next
vti_structto_localhost\\c\:\\data\\websites\\waldarry/c\:/data/websites/waldarry:TR|26 Jul 2006 11:19:11 -0000
vti_copytimestamp_ftp\://www.waldarry.com/%2fhtdocs:TR|08 Mar 2015 16:26:12 -0000
vti_copytimestamp_ftp\://004acad.netsolhost.com/%2f:TR|11 Mar 2015 00:26:30 -0000
vti_approvallevels:VR|Approved Denied Pending\\ Review
vti_showhiddenpages:IR|1
vti_navbuttonhomelabel:SR|Home
vti_dependenciesood:IR|1
vti_copytimestamp_file\:///C\:/Data/Websites/Waldarry:TR|03 Aug 2006 15:33:18 -0000
vti_structto_www.waldarry.com\:80:TR|19 Sep 2006 13:23:40 -0000
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP vti_ServerCollab vti_ServerWebParts vti_RulesScript vti_TimedDocEvents
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_copytimestamp_http\://www.waldarry.com:TR|01 Feb 2015 20:31:37 -0000
vti_copytimestamp_ftp\://004acad.netsolhost.com/%2fwww:TR|24 Aug 2022 12:34:07 -0000
vti_approvalapproved:SR|Approved
vti_approvaldenied:SR|Denied
vti_defaultcharset:SR|utf-8
vti_navbuttonuplabel:SR|Up
vti_autorecalc:IX|1
vti_copytimestamp_ftp\://004acad.netsolhost.com/%2fhtdocs:TR|09 Mar 2015 14:25:30 -0000
vti_disableautoimgsizeexts:SX|.asp
vti_extenderversion:SR|12.0.0.4017
vti_ignorekeyboard:IR|0
vti_navbuttonprevlabel:SR|Back
